<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AsistentesServlet</servlet-name>
        <servlet-class>Controllers.AsistentesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConferenciasServlet</servlet-name>
        <servlet-class>Controllers.ConferenciasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AsistentesServlet</servlet-name>
        <url-pattern>/asistentesController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConferenciasServlet</servlet-name>
        <url-pattern>/conferencias</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
